@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/variables" as *;

.community {
  &__heading {
    @include page-header;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  &__search {
    @include button-search-sizing;
    text-align: center;
    &--container {
      position: relative;
      display: flex;
      justify-content: center;
    }
    &--icon {
      position: absolute;
      font-size: 2rem;
      left: 3.5rem;
      top: 1rem;
    }
  }
  &__sub-heading {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include subheader;
  }
  &__button {
    @include button-search-sizing;
    text-align: center;
    border: none;
    background-color: $primary-color-green;
    @include p1;
    font-weight: 600;
    color: white;
    line-height: normal;
    transition: 0.15s ease-in;
    &--container {
      display: flex;
    }
    &:hover {
      cursor: pointer;
      background-color: $primary-color-dark-green;
    }
  }
  &__stats-container {
    width: 100%;
    height: 5.5rem;
    background-color: $primary-color-dark-green;
    margin-top: 2rem;
    margin-bottom: 3rem;

    @include display-flex(row, center, center);
    &--left {
      text-align: center;
      padding-right: 10%;
      border-right: solid 1px white;
      //   height: 35px;
    }
    &--right {
      text-align: center;
      padding-left: 10%;
    }
  }
  &__stat {
    color: white;
    @include p1;
    font-weight: 600;
  }
  &__text {
    color: white;
    @include p2;
  }
  &__card-container {
    @include display-flex(column, center, center);
    @include component-gutter;
  }
  &__card {
    @include button-search-sizing;
    @include display-flex(row, center, space-between);
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.15);
    margin-bottom: 1rem;
    &--left {
      position: relative;
    }
    &--icon {
      position: absolute;
      top: -0.2rem;
    }
    &--text {
      @include p1;
      padding-left: 4rem;
    }
    &--right {
      position: relative;
    }
    &--learn {
      @include p1;
      font-weight: 600;
      padding-right: 4rem;
    }
    &--arrow {
      position: absolute;
      right: 2rem;
      top: 0.7rem;
      font-size: 1.4rem;
      color: $secondary-color-dark-grey;
    }
  }
}
