@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/variables" as *;

.support {
  background-color: $background-color-light-grey;
  height: 100vh;
  &__wrapper {
    @include component-gutter;
    @include display-flex(column, center, center);
  }
  &__heading {
    @include page-header;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__text {
    @include p1;
    text-align: center;
    line-height: 20px;
    color: $secondary-color-dark-grey;
  }
  &__convo {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__card--arrow {
    position: absolute;
    right: 20px;
    top: -7px;
    font-size: 14px;
    color: $secondary-color-dark-grey;
  }
}
